### Identifier les valeurs aberrantes dans `products.csv`

Utiliser `pandas` pour charger et analyser les données du fichier CSV `products.csv`. Repérer les valeurs aberrantes (ordre de grandeur : quelques centaines).

In [1]:
from pathlib import Path

import pandas as pd

In [2]:
DATA_DIR = Path("../../data")
product_file_path = DATA_DIR / "products.csv"

In [3]:
product_df = pd.read_csv(product_file_path, low_memory=False)

In [4]:
product_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320772 entries, 0 to 320771
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          320772 non-null  int64
 1   code                320749 non-null  object
 2   fat_100g            243891 non-null  float64
 3   saturated-fat_100g  229554 non-null  float64
 4   sugars_100g         244971 non-null  float64
 5   fiber_100g          200886 non-null  float64
 6   proteins_100g       259922 non-null  float64
 7   salt_100g           255510 non-null  float64
 8   sodium_100g         255463 non-null  float64
 9   autre               320772 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 24.5+ MB

In [5]:
product_df.head(10)

,Unnamed: 0,code,fat_100g,saturated-fat_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g,autre
0,0,3087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.00000
1,1,4530,28.57,28.57,14.29,3.6,3.57,0.00000,0.000,21.40000
2,2,4559,17.86,0.00,17.86,7.1,17.86,0.63500,0.250,38.43500
3,3,16087,57.14,5.36,3.57,7.1,17.86,1.22428,0.482,7.26372
4,4,16094,1.43,NaN,NaN,5.7,8.57,NaN,NaN,84.30000
5,5,16100,18.27,1.92,11.54,7.7,13.46,NaN,NaN,47.11000
6,6,16117,NaN,NaN,NaN,NaN,8.89,NaN,NaN,91.11000
7,7,16124,18.75,4.69,15.62,9.4,14.06,0.13970,0.055,37.28530
8,8,16193,37.50,22.50,42.50,7.5,5.00,NaN,NaN,0.00000
9,9,16513,100.00,7.14,NaN,NaN,NaN,NaN,NaN,0.00000

In [6]:
product_df.describe(include="all").round(2)

,Unnamed: 0,code,fat_100g,saturated-fat_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g,autre
count,320772.00,320749,243891.00,229554.00,244971.00,200886.00,259922.00,255510.00,255463.00,320772.00
unique,NaN,320579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,70650800367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,160385.50,NaN,12.73,5.13,16.00,2.86,7.08,2.03,0.80,65.86
std,92599.04,NaN,17.58,8.01,22.33,12.87,8.41,128.27,50.50,32.09
min,0.00,NaN,0.00,0.00,-17.86,-6.70,-800.00,0.00,0.00,0.00
25%,80192.75,NaN,0.00,0.00,1.30,0.00,0.70,0.06,0.02,41.91
50%,160385.50,NaN,5.00,1.79,5.71,1.50,4.76,0.58,0.23,75.67
75%,240578.25,NaN,20.00,7.14,24.00,3.60,10.00,1.37,0.54,94.15
max,320771.00,NaN,714.29,550.00,3520.00,5380.00,430.00,64312.80,25320.00,889.38

In [7]:
sorted_product_df = product_df.sort_values("fat_100g", ascending=False)
product_df.head(10)

,Unnamed: 0,code,fat_100g,saturated-fat_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g,autre
0,0,3087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.00000
1,1,4530,28.57,28.57,14.29,3.6,3.57,0.00000,0.000,21.40000
2,2,4559,17.86,0.00,17.86,7.1,17.86,0.63500,0.250,38.43500
3,3,16087,57.14,5.36,3.57,7.1,17.86,1.22428,0.482,7.26372
4,4,16094,1.43,NaN,NaN,5.7,8.57,NaN,NaN,84.30000
5,5,16100,18.27,1.92,11.54,7.7,13.46,NaN,NaN,47.11000
6,6,16117,NaN,NaN,NaN,NaN,8.89,NaN,NaN,91.11000
7,7,16124,18.75,4.69,15.62,9.4,14.06,0.13970,0.055,37.28530
8,8,16193,37.50,22.50,42.50,7.5,5.00,NaN,NaN,0.00000
9,9,16513,100.00,7.14,NaN,NaN,NaN,NaN,NaN,0.00000

Articles avec un code manquant

In [8]:
mask = product_df["code"].isna()
print(mask.value_counts())
display(product_df[mask])

code
False    320749
True         23
Name: count, dtype: int64

,Unnamed: 0,code,fat_100g,saturated-fat_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g,autre
189068,189068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000
189103,189103,NaN,NaN,NaN,NaN,NaN,0.137,NaN,NaN,99.863
189109,189109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000
189119,189119,NaN,NaN,NaN,NaN,NaN,0.122,NaN,NaN,99.878
189152,189152,NaN,NaN,NaN,NaN,NaN,0.158,NaN,NaN,99.842
189160,189160,NaN,NaN,NaN,NaN,NaN,0.156,NaN,NaN,99.844
189162,189162,NaN,NaN,NaN,NaN,NaN,0.158,NaN,NaN,99.842
189168,189168,NaN,NaN,NaN,NaN,NaN,0.120,NaN,NaN,99.880
189242,189242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000
189244,189244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000
189248,189248,NaN,NaN,NaN,NaN,NaN,0.120,NaN,NaN,99.880
189250,189250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000
189260,189260,NaN,NaN,NaN,NaN,NaN,0.132,NaN,NaN,99.868
189262,189262,NaN,NaN,NaN,NaN,NaN,0.133,NaN,NaN,99.867
189269,189269,NaN,NaN,NaN,NaN,NaN,0.135,NaN,NaN,99.865
189272,189272,NaN,NaN,NaN,NaN,NaN,0.134,NaN,NaN,99.866
189345,189345,NaN,NaN,NaN,NaN,NaN,0.120,NaN,NaN,99.880
189362,189362,NaN,NaN,NaN,NaN,NaN,0.180,NaN,NaN,99.820
189364,189364,NaN,NaN,NaN,NaN,NaN,0.180,NaN,NaN,99.820
189379,189379,NaN,NaN,NaN,NaN,NaN,0.149,NaN,NaN,99.851
189404,189404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000
189406,189406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000
189417,189417,NaN,NaN,NaN,NaN,NaN,0.158,NaN,NaN,99.842

In [12]:
negative_mask = (
    (product_df["fat_100g"] < 0)
    |
    (product_df["saturated-fat_100g"] < 0)
    |
    (product_df["sugars_100g"] < 0)
    |
    (product_df["fiber_100g"] < 0)
    |
    (product_df["proteins_100g"] < 0)
    |
    (product_df["salt_100g"] < 0)
    |
    (product_df["sodium_100g"] < 0)
    |
    (product_df["autre"] < 0)
)

In [9]:
columns_to_check = ["fat_100g",
    "saturated-fat_100g",
    "sugars_100g",
    "fiber_100g",
    "proteins_100g",
    "salt_100g",
    "sodium_100g",
    "autre",
]

negative_mask = (product_df[columns_to_check].fillna(0) < 0).any(axis=1)

In [13]:
negative_mask.value_counts()

False    320761
True         11
Name: count, dtype: int64

In [11]:
product_df[negative_mask]

,Unnamed: 0,code,fat_100g,saturated-fat_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g,autre
8582,8582,11213420608,0.00,0.00,-1.20,1.2,2.41,0.38354,0.151000,97.055460
18209,18209,21130493432,0.80,0.00,-0.80,0.8,0.80,0.87376,0.344000,97.182240
23784,23784,28400231053,33.33,13.33,0.00,-6.7,NaN,6.43382,2.533000,51.073180
33781,33781,36800416727,46.43,8.93,3.57,3.6,-3.57,0.99822,0.393000,39.648780
115310,115310,4029816,0.00,NaN,NaN,NaN,-500.00,25.40000,10.000000,564.600000
117739,117739,608866999263,3.57,0.00,-3.57,3.6,7.14,0.95250,0.375000,87.932500
146284,146284,789280259062,13.33,3.33,-6.67,6.7,NaN,2.03200,0.800000,80.478000
150858,150858,813922021028,6.25,1.25,-6.25,1.2,1.25,1.19380,0.470000,94.636200
164030,164030,856336001538,21.43,3.57,-17.86,17.9,17.86,1.93294,0.761000,54.406060
169119,169119,875208001230,0.00,NaN,0.00,NaN,-800.00,7.62000,3.000000,889.380000
195761,195761,3161712000928,30.00,21.00,-0.10,NaN,15.30,1.40000,0.551181,31.848819

Valeurs plus grandes que 100

In [14]:
more_than_100_mask = (product_df[columns_to_check].fillna(0) > 100).any(axis=1)

In [16]:
print(more_than_100_mask.value_counts())
display(product_df[more_than_100_mask])

False    320593
True        179
Name: count, dtype: int64

,Unnamed: 0,code,fat_100g,saturated-fat_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g,autre
501,501,2124810206,0.00,NaN,NaN,NaN,0.00,105.83418,41.667000,0.0
1435,1435,10300335290,45.71,8.57,5.71,5.7,17.14,870.85678,342.857000,0.0
3472,3472,11110825261,0.00,0.00,NaN,NaN,0.00,101.60000,40.000000,0.0
7037,7037,11161036074,0.00,NaN,NaN,NaN,0.00,101.60000,40.000000,0.0
7983,7983,11213053264,0.77,0.00,2.31,3.8,4.62,781.53768,307.692000,0.0
...,...,...,...,...,...,...,...,...,...,...
303101,303101,8005305900255,101.00,15.00,0.00,NaN,0.00,0.00000,0.000000,0.0
305054,305054,8032942610032,105.00,0.30,2.50,NaN,12.00,0.01000,0.003937,0.0
305114,305114,8033224177274,0.00,NaN,NaN,NaN,0.00,106.68000,42.000000,0.0
313506,313506,8710573641501,NaN,550.00,3520.00,5380.0,430.00,0.01016,0.004000,0.0
315621,315621,8718309253745,0.00,0.00,100.80,0.0,0.00,0.42672,0.168000,0.0

In [29]:
# product_df["fat_100g"] + product_df["saturated-fat_100g"] + ...

columns_to_sum = ["fat_100g",
    # "saturated-fat_100g",
    "sugars_100g",
    "fiber_100g",
    "proteins_100g",
    "salt_100g",
    # "sodium_100g",
    "autre",
]

product_df["sum"] = product_df[columns_to_sum].sum(axis=1)
different_than_100_mask = (
    (product_df["sum"] < 99)
    |
    (product_df["sum"] > 101)
)
print(different_than_100_mask.value_counts())

sum
False    172835
True     147937
Name: count, dtype: int64

In [26]:
display(product_df[different_than_100_mask])

,Unnamed: 0,code,fat_100g,saturated-fat_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g,autre,sum
8,8,16193,37.50,22.50,42.5,7.5,5.00,NaN,NaN,0.0,115.000000
9,9,16513,100.00,7.14,NaN,NaN,NaN,NaN,NaN,0.0,107.140000
13,13,16933,42.86,4.76,NaN,38.1,19.05,0.09652,0.038000,0.0,104.904520
14,14,17497,48.48,9.09,NaN,15.2,30.30,0.57658,0.227000,0.0,103.873580
25,25,18371,NaN,NaN,NaN,NaN,NaN,96.15678,37.857000,0.0,134.013780
...,...,...,...,...,...,...,...,...,...,...,...
320356,320356,9403142000890,40.90,18.30,39.5,NaN,9.00,0.15494,0.061000,0.0,107.915940
320392,320392,9415077412907,27.70,25.30,58.8,NaN,3.30,0.29210,0.115000,0.0,115.507100
320451,320451,9421025231179,NaN,10.40,57.4,0.0,10.10,45.00000,17.716535,0.0,140.616535
320578,320578,9556041130943,92.00,86.00,0.0,0.0,0.00,0.00000,0.000000,0.0,178.000000
320656,320656,9557129019006,92.00,39.00,0.0,0.0,0.00,0.00000,0.000000,0.0,131.000000

Fat et saturated-fat

In [31]:
mask = product_df["fat_100g"] < product_df["saturated-fat_100g"]
print(mask.value_counts())
display(product_df[mask])

False    320418
True        354
Name: count, dtype: int64

,Unnamed: 0,code,fat_100g,saturated-fat_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g,autre,sum
2322,2322,11110372680,0.00,1.25,65.00,5.0,0.00,0.00000,0.000000,28.750000,98.750000
3450,3450,11110823564,1.31,1.62,NaN,NaN,NaN,0.06096,0.024000,96.985040,98.356000
5839,5839,11150253642,9.21,21.05,47.37,2.6,2.63,0.43434,0.171000,16.534660,78.779000
5840,5840,11150253659,9.21,21.05,47.37,2.6,2.63,0.43434,0.171000,16.534660,78.779000
6320,6320,11150940290,1.79,5.36,0.00,0.0,3.57,1.04394,0.411000,87.825060,94.229000
...,...,...,...,...,...,...,...,...,...,...,...
316996,316996,8851613101392,18.89,19.00,20.00,0.0,16.00,0.05000,0.019685,26.040315,80.980315
317148,317148,8853662023236,0.00,2.00,8.50,NaN,NaN,0.75438,0.297000,88.448620,97.703000
317432,317432,88936000463,0.88,4.42,1.77,0.0,15.93,0.89916,0.354000,75.746840,95.226000
317655,317655,8935054704463,0.00,20.00,0.00,20.0,0.00,0.00000,0.000000,60.000000,80.000000
317790,317790,9000159194392,3.90,14.00,0.50,4.2,12.00,3.00000,1.181102,61.218898,84.818898

In [36]:
salt_mask = (
    (product_df["salt_100g"] < (product_df["sodium_100g"] * 2.535))
    |
    (product_df["salt_100g"] > (product_df["sodium_100g"] * 2.545))
)
print(salt_mask.value_counts())
display(product_df[salt_mask])

False    320124
True        648
Name: count, dtype: int64

,Unnamed: 0,code,fat_100g,saturated-fat_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g,autre,sum
181,181,4302544,1.110,0.333,1.110,2.220,10.00,1.520,0.6000,83.1070,99.0670
185,185,8237798,6.790,2.860,0.714,0.357,5.36,0.499,0.1960,83.2240,96.9440
702,702,79150,10.800,4.620,1.540,4.620,15.40,1.480,0.5850,60.9550,94.7950
977,977,9300003346,0.000,NaN,NaN,NaN,0.00,2.810,1.1100,96.0800,98.8900
1351,1351,98724,26.300,2.630,15.800,5.260,5.26,0.134,0.0526,44.5634,97.3174
...,...,...,...,...,...,...,...,...,...,...,...
317576,317576,8906021120487,12.800,0.000,0.000,11.800,14.20,0.163,0.0640,60.9730,99.9360
317718,317718,8991002115101,12.500,12.500,60.000,NaN,NaN,0.191,0.0750,14.7340,87.4250
318292,318292,9019100218506,3.500,2.100,4.700,0.000,3.30,0.102,0.0400,86.2580,97.8600
318380,318380,90457388,42.500,15.000,37.500,2.500,7.50,0.191,0.0750,0.0000,90.1910
318882,318882,9300602457709,0.909,0.545,0.000,NaN,6.55,1.510,0.5930,89.8930,98.8620

Bonus : reprendre l'étude d'une typologie de valeurs aberrantes avec Dask.

In [38]:
import dask.dataframe as dd

c:\Users\bspeziale\AppData\Local\pypoetry\Cache\virtualenvs\test-yOZBwoax-py3.11\Lib\site-packages\dask\dataframe\__init__.py:49: FutureWarning:
Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

  warnings.warn(msg, FutureWarning)

In [39]:
product_dask_df = dd.read_csv(product_file_path, dtype={"code": "object"})

In [44]:
product_dask_df.describe().compute()

,Unnamed: 0,fat_100g,saturated-fat_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g,autre
count,320772.000000,243891.000000,229554.000000,244971.000000,200886.000000,259922.000000,255510.000000,255463.000000,320772.000000
mean,160385.500000,12.730379,5.129932,16.003484,2.862111,7.075940,2.028624,0.798815,65.861511
std,92599.044612,17.578747,8.014238,22.327284,12.867578,8.409054,128.269454,50.504428,32.091021
min,0.000000,0.000000,0.000000,-17.860000,-6.700000,-800.000000,0.000000,0.000000,0.000000
25%,80192.750000,0.000000,0.000000,1.300000,0.000000,0.700000,0.063500,0.025000,41.907242
50%,160385.500000,5.000000,1.790000,5.710000,1.500000,4.760000,0.581660,0.229000,75.670259
75%,240578.250000,20.000000,7.140000,24.000000,3.600000,10.000000,1.374140,0.541000,94.145336
max,320771.000000,714.290000,550.000000,3520.000000,5380.000000,430.000000,64312.800000,25320.000000,889.380000

In [45]:
negative_mask = (product_dask_df[columns_to_check] < 0).any(axis=1)
neg_dask_df = product_dask_df[negative_mask]

In [46]:
print(neg_dask_df)

Dask DataFrame Structure:
              Unnamed: 0    code fat_100g saturated-fat_100g sugars_100g fiber_100g proteins_100g salt_100g sodium_100g    autre
npartitions=1
                   int64  string  float64            float64     float64    float64       float64   float64     float64  float64
                     ...     ...      ...                ...         ...        ...           ...       ...         ...      ...
Dask Name: getitem, 6 graph layers

In [47]:
neg_dask_df.compute()

,Unnamed: 0,code,fat_100g,saturated-fat_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g,autre
8582,8582,11213420608,0.00,0.00,-1.20,1.2,2.41,0.38354,0.151000,97.055460
18209,18209,21130493432,0.80,0.00,-0.80,0.8,0.80,0.87376,0.344000,97.182240
23784,23784,28400231053,33.33,13.33,0.00,-6.7,NaN,6.43382,2.533000,51.073180
33781,33781,36800416727,46.43,8.93,3.57,3.6,-3.57,0.99822,0.393000,39.648780
115310,115310,4029816,0.00,NaN,NaN,NaN,-500.00,25.40000,10.000000,564.600000
117739,117739,608866999263,3.57,0.00,-3.57,3.6,7.14,0.95250,0.375000,87.932500
146284,146284,789280259062,13.33,3.33,-6.67,6.7,NaN,2.03200,0.800000,80.478000
150858,150858,813922021028,6.25,1.25,-6.25,1.2,1.25,1.19380,0.470000,94.636200
164030,164030,856336001538,21.43,3.57,-17.86,17.9,17.86,1.93294,0.761000,54.406060
169119,169119,875208001230,0.00,NaN,0.00,NaN,-800.00,7.62000,3.000000,889.380000
195761,195761,3161712000928,30.00,21.00,-0.10,NaN,15.30,1.40000,0.551181,31.848819